*{
    margin: 0px;
    padding: 0px;
}  

:root{
    --navbar-height: 59px
}
div{
   display: flex;
   align-items: center;
    /* /* justify-content: center; * */
}
#logo{
    margin: 2px 8px;;
}


#logo img{
    margin: 10px 3px;
    height: 97px;
}
#navbar{
    position: relative;
    top: 0px;
    left: 0px;

}

#navbar:before{
    content: "";
    background-color:grey;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}
#navbar ul{
    display: flex;
}

#navbar ul li{
    /* display: flex; */
    list-style: none;
    font-size: 1.3rem;
    font-family: "Rowdies", sans-serif;
}
#navbar ul li a{
    display: block;
    margin: 4px 12px;
    padding: 12px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    
    

} 
#navbar ul li a:hover{
    color: peru ;
    background-color: cornsilk;
}
 #home{
    display: flex;
    flex-direction: column;
    padding: 33px 45px;
    justify-content: center;
    align-items: center;
    height: 430px;
}
#home:before{
    content: "";
    background: url('travel\ bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 610px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0px;
    left: 0px;
}
.primary{
    font-size: 2.8rem;
    padding: 11px;
}
#home h1{
    color: white;
    text-align: center;
    font-family: "Playwrite NZ", cursive;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    
    font-family: "Outfit", sans-serif;
}
.btn{
    padding: 8px 22px;
    margin: 28px;
    font-size: 1.3rem;
    border: white;
    background-color: coral;
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: burlywood;
    color: antiquewhite;
}
.center{
    text-align: center;
}

/* Services Section */
#services-container{
    background: url(travel4.jpg)no-repeat center center/cover;
    height: 845px;
    z-index: -1;
    opacity: 0.8;
  
   
}
#services{
    margin: 34px;
    display: flex;
   
  
}
#services .box{ 
    border: 2px solid royalblue;
    padding: 4px;
    margin: 56px 13px;
    border-radius: 28px;
    flex-direction: column;
    background: #f2f2f2;
    /* margin-bottom: 20px; */
}

#services .box img{ 
   height: 199px;
   margin: 6px;
   display: block;
   border-radius: 25px;
}

#services .box p{
    font-family: "Outfit", sans-serif;

} 
.h-primary{
    font-family: "Outfit", sans-serif;
    font-size: 3.1rem;
    padding: 8px;
}

.h-secondary{
    font-family: "Outfit", sans-serif;
    font-size: 2.1rem;
    padding: 12px;
}
#clients-section{
    height: 300px;
    position: relative;
}
#clients-section::before{
    content: "";
    position: absolute;
    background: url(travel\ 2.jpg)no-repeat center center/cover ;
    width: 100%;
    height: 290px;
    z-index: -1;
    opacity:0.4 ;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

 #clients img{
    padding-left: 18px;
    margin: 50px;
   
 }

 #contact::before{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    position: absolute;
    background: url(contact2.jpg)no-repeat center center/cover;
 }
 #contact h1 {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 3rem;   
    padding: 0.75rem;
}

.contact-form {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15vw;
    font-size: 1.2rem;
}

.form-details {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-details input, .form-details textarea {
    width: 60vw;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid black;

}
.form-details textarea {
    height: 25vh;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    left: 0%;
    width: 100%;
    text-align: center;
    margin-top: 205px;
    height: 30px;
    margin-bottom: 34px;
    padding-top: 20px;
    
}

